h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
  font-weight: 400;
  font-style: normal;
}

:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --title-color: #212121;
  --logo-color: #000000;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-right: 93px;
  padding-bottom: 25px;
  padding-top: 24px;
}

.list {
  list-style: none;
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: scale(0, 9) translate(-50%, -50%);
  transition: transform 250ms var(--transition-timing-function);
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
}

.close-modal-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.close-modal-button:hover, .close-modal-button:focus {
  fill: var(--accent-color);
}

.modal__text {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal__input {
  display: inline-block;
  width: 448px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
  outline: none;
}

.modal__input:hover + .modal-form__icon,
.modal__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment-textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.comment-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-textarea:hover, .comment-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.checkbox__area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.checkbox__label {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.checkbox__link {
  font: inherit;
  color: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  color: #ffffff;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.modal__button {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
  border-color: var(--accent-color);
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.modal__button:focus, .modal__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.form__field {
  position: relative;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  margin-bottom: 10px;
}

.header {
  border-bottom-color: #ececec;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
}

.header span {
  color: var(--accent-color);
}

.nav__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__contact-item:not(:last-child) {
  margin-right: 50px;
}

.header__contact-list {
  display: flex;
}

.contact__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.contact__list:hover, .contact__list:focus {
  fill: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.hero__section {
  background-color: #2f303a;
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero__button {
  background: var(--accent-color);
  box-shadow: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.hero__button:focus, .hero__button:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.activities__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 738px) {
  .activities__list-title {
    text-align: center;
  }
}

.activities__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
  margin-top: 94px;
}

.activities__list {
  display: flex;
  justify-content: center;
}

.activities__overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 83px;
  z-index: 5;
}

.activities__list-item {
  position: relative;
}

.activities__list-item:not(:last-child) {
  margin-right: 30px;
}

.activities__list-item::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 738px) and (max-width: 1170px) {
  .activities__types-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1170px) {
  .activities__types-item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (max-width: 1170px) {
  .activities__types-item {
    margin-bottom: 30px;
  }
}

.activities__types-item {
  width: 100%;
}

.activities__types-item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 738px) and (max-width: 1170px) {
  .activities__types {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1170px) {
  .activities__types {
    display: flex;
    flex-wrap: nowrap;
  }
}

.activities__icon-place {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1170px) {
  .activities__container {
    display: none;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-color);
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1169px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__box {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.clients__box:hover, .clients__box:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__item {
  fill: #afb1b8;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 737px) {
  .clients__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 738px) and (max-width: 1169px) {
  .clients__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.team__section {
  background: #f5f4fa;
}

@media screen and (min-width: 738px) and (max-width: 1169px) {
  .team__list {
    display: flex;
  }
}

@media screen and (min-width: 1170px) {
  .team__list {
    display: flex;
  }
}

.team__card {
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.members-thumb {
  flex-basis: calc(100% - 30px);
}

@media screen and (min-width: 738px) and (max-width: 1169px) {
  .members-thumb {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1170px) {
  .members-thumb {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.members__text {
  padding-top: 30px;
}

.members__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.members__social-item {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.members__social-item:not(:last-child) {
  margin-right: 10px;
}

.members__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: inherit;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.members__social-link:hover, .members__social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.portfolio__button {
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  cursor: pointer;
  border-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.btn__list {
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 50px;
}

.btn__list-item:not(:last-child) {
  margin-right: 8px;
}

.list__box {
  background: #ffffff;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.list__box:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.list__box:hover .card__text {
  transform: translateY(0);
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 4px;
}

.card__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.box__content {
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  border: 1px solid #eeeeee;
}

.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-top: 63px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing-function);
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo--accent {
  color: var(--accent-color);
}

.footer__contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__direction {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__address {
  display: flex;
}

.footer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.footer__contact-list {
  margin-bottom: 20px;
}

.footer__list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__social-links {
  margin-left: 70px;
}

.footer__social-item {
  width: 44px;
  height: 44px;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.footer__social-link:focus, .footer__social-link:hover {
  background-color: var(--accent-color);
}

.footer__subscription {
  width: 570px;
  height: 86px;
  display: flex;
  margin-left: 93px;
}

.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form-input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__form-button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: transparent;
  border-radius: 4px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.footer__form-button:hover, .footer__form-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__form-icon {
  margin-left: 10px;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */