.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden.modal {
    transform: scale(0, 9) translate(-50%, -50%);
    transition: transform 250ms var(--transition-timing-function);
  }
}

.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function);
}

.close-modal-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__text {
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.modal__input {
  display: inline-block;
  width: 448px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
    outline: none;
  }
  &:hover + .modal-form__icon,
  &:focus + .modal-form__icon {
    fill: var(--accent-color);
  }
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment-textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.checkbox__area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.checkbox__label {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.checkbox__link {
  font: inherit;
  color: var(--accent-color);
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  &:checked + .checkbox__icon {
    background-color: var(--accent-color);
    background-image: url("../images/check.svg");
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    color: #ffffff;
  }
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgb(33, 33, 33);
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.modal__button {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  outline: none;
  border-color: var(--accent-color);
  color: #ffffff;
  margin-top: 30px;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}
.form__field {
  position: relative;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
  margin-bottom: 10px;
}
